.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
}

body {
    background-color: #04041c;
}

.shadow{
    background-color : #67023f;
    border-color: #e50d8b;
}

.shadow:hover{
    background-color: #e50d8b;
    border-color: #e50d8b;
}