.card-grid {
    display: grid; /* Использовать grid вместо flex для лучшего контроля колонок */
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr)); /* Карточки будут автоматически регулироваться в ширину и занимать всю доступную ширину */
    gap: 20px; /* Пробел между карточками */
    padding: 20px 8%;
    justify-items: center; /* Горизонтальное выравнивание карточек */
}

body {
    background-color: #000000; /* Более светлый фон для лучшего контраста с карточками */
    color: #ffffff; /* Темный цвет текста для лучшего чтения */
    font-family: Arial, sans-serif; /* Шрифт, который лучше подходит для адаптивных интерфейсов */
}

.d-flex{
    width: 300px;
}