.table {
    width: calc(100% - 160px);
    margin-left: 80px;
    margin-right: 80px;
    border-collapse: collapse;
    background-color: #e85f5f;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
    ;
}
.shadow{
    color:#000000
}