.searchbtn{
    background-color: #231E90;
    border: 1px solid #231E90;
    border-radius: 3px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    margin-right: 10px;
}

.navbarlink{
    border: 1px solid rgb(255, 255, 255);

    border-radius: 3px;
    color: #ffffff;
    font-family: Modak, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
    margin-right: 10px;
}

.navbar{
    background-color: rgb(37, 36, 36);
    color: #B3B8CD;
}